h2 {
  padding-bottom: 30px;
  font-family: Nevis, Arial, sans-serif;
  font-size: 4em;
  margin: 0; }

p {
  font-family: Arial, sans-serif;
  font-size: 1.25em;
  padding-bottom: 5px; }

a:hover, a:focus, a:active {
  text-decoration: none; }

a.btn-flat, a.btn {
  font-size: 1.25em;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px; }

.container-fluid {
  padding: 0; }

li {
  font-family: Arial, sans-serif;
  font-size: 1.25em;
  padding-bottom: 2px; }

header {
  background-color: #42A5F5;
  padding-top: 10px;
  padding-bottom: 50px; }
  header h1 {
    color: #FFFFFF;
    font-family: Nevis, Arial, sans-serif;
    font-size: 5em;
    margin-bottom: 40px;
    text-align: center; }
  header .btn {
    background-color: #66BB6A;
    color: #FFFFFF; }
    header .btn:visited, header .btn:focus {
      color: #FFFFFF; }
    header .btn:hover {
      background-color: #81C784;
      color: #000000; }

/* Blue 200 */
.card {
  background-color: #90CAF9; }
  .card a {
    vertical-align: middle;
    margin: 0;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    color: #9a0000; }
    .card a:visited, .card a:focus {
      color: #9a0000; }
    .card a:hover {
      color: #D50000;
      background-color: #64B5F6; }
  .card .card-title {
    font-family: Roboto;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000; }
  .card .card-subtitle {
    display: block;
    font-family: Roboto;
    color: #616161;
    font-size: 1.6em;
    margin: 0;
    padding-bottom: 5px; }
  .card .card-reveal {
    width: 100%;
    background-color: #90CAF9; }

footer.page-footer {
  padding-top: 20px;
  background-color: #42A5F5;
  color: #FFFFFF;
  text-align: center; }
  footer.page-footer a .footer-copyright {
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    -ms-transition: 0.15s ease-out;
    transition: 0.15s ease-out; }
    footer.page-footer a .footer-copyright .love {
      display: block; }
    footer.page-footer a .footer-copyright .back-to-top {
      display: none; }
    footer.page-footer a .footer-copyright:hover {
      background-color: rgba(51, 51, 51, 0.2); }
      footer.page-footer a .footer-copyright:hover .love {
        display: none; }
      footer.page-footer a .footer-copyright:hover .back-to-top {
        display: block; }
  footer.page-footer p {
    margin-bottom: 0; }
    footer.page-footer p a {
      color: #FFFFFF; }
      footer.page-footer p a:hover {
        color: #EEEEEE; }

section.container-fluid.projects {
  margin-top: 40px; }

/* Grey - 200 */
.my-stuff {
  background-color: #EEEEEE;
  padding-top: 30px;
  padding-bottom: 30px; }
  .my-stuff .card {
    background-color: #A5D6A7; }
    .my-stuff .card a:hover {
      background-color: #81C784; }
    .my-stuff .card ul {
      margin: 0; }

@font-face {
  font-family: Nevis;
  src: url("../font/nevis.ttf"); }

/*# sourceMappingURL=style.css.map */
