h2 {
  font-family: 'Arimo', Arial, sans-serif;
  font-weight: 700;
  margin: 0;
  padding-bottom: 30px;
  font-size: 4em; }

p {
  font-family: 'Arimo', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  padding-bottom: 5px; }

a:hover, a:focus, a:active {
  text-decoration: none; }

a.btn-flat, a.btn {
  font-size: 1.3rem;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px; }

.container-fluid {
  padding: 0; }

li {
  font-family: 'Arimo', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  padding-bottom: 2px; }

header {
  text-align: center;
  background-image: url(../images/bulb.png);
  background-size: cover;
  padding-top: 8vh;
  padding-bottom: 8vh;
  height: 40vh;
  min-height: 315px; }
  @media (max-width: 800px) {
    header {
      height: 100vh; } }
  header h1 {
    font-family: 'Arimo', Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    font-size: 5rem;
    margin-top: 0; }
  header h2 {
    font-family: 'Arimo', Arial, sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 3rem; }
  header .btn {
    font-family: 'Arimo', Arial, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    background-color: #000000;
    color: #FFFFFF; }
    header .btn:visited, header .btn:focus {
      color: #FFFFFF; }
    header .btn:hover {
      background-color: #FFFFFF;
      color: #000000; }

.card {
  background-color: #90CAF9;
  margin-bottom: 20px; }
  .card a {
    vertical-align: middle;
    margin: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    color: #9a0000; }
    .card a:visited, .card a:focus {
      color: #9a0000; }
    .card a:hover {
      color: #D50000;
      background-color: #64B5F6; }
  .card .card-header {
    background-color: #42A5F5;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px; }
  .card .card-title {
    font-family: 'Arimo', Arial, sans-serif;
    font-weight: 700;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000; }
  .card .card-subtitle {
    font-family: 'Arimo', Arial, sans-serif;
    font-weight: 400;
    display: block;
    color: #424242;
    font-size: 1.6em;
    margin: 0; }
  .card .card-content {
    padding-top: 10px;
    padding-bottom: 10px; }
  .card .card-action {
    padding-top: 10px; }

section.my-stuff {
  background-color: #E3F2FD;
  padding-top: 30px;
  padding-bottom: 30px; }
  section.my-stuff .card {
    background-color: #F5F5F5;
    color: #000000;
    font-family: 'Arimo', Arial, sans-serif;
    font-weight: 400; }
    section.my-stuff .card a {
      font-family: 'Arimo', Arial, sans-serif;
      font-weight: 400; }
      section.my-stuff .card a:hover {
        background-color: #EEEEEE; }
    section.my-stuff .card ul {
      margin: 0; }

section.container-fluid.projects {
  background-color: #F5F5F5; }
  section.container-fluid.projects .margin-40 {
    margin-top: 40px; }

footer.page-footer {
  margin: 0;
  padding-top: 20px;
  background-color: #42A5F5;
  color: #FFFFFF;
  text-align: center; }
  footer.page-footer a .footer-copyright {
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out; }
    footer.page-footer a .footer-copyright .love {
      display: block; }
    footer.page-footer a .footer-copyright .back-to-top {
      display: none; }
    footer.page-footer a .footer-copyright:hover {
      background-color: rgba(51, 51, 51, 0.2); }
      footer.page-footer a .footer-copyright:hover .love {
        display: none; }
      footer.page-footer a .footer-copyright:hover .back-to-top {
        display: block; }
  footer.page-footer p {
    margin-bottom: 0; }
    footer.page-footer p a {
      color: #FFFFFF; }
      footer.page-footer p a:hover {
        color: #EEEEEE; }

/*# sourceMappingURL=style.css.map */