$green200: #A5D6A7;
$green300: #81C784;
$green400: #66BB6A;
$grey200: #EEEEEE;
$blue200: #90CAF9;
$white: #FFFFFF;
$black: #000000;

$defaultFontSize: 1.25em;

@mixin padTB($top, $bottom){
    padding-top: $top;
    padding-bottom: $bottom;
}

h2 {
    padding-bottom: 30px;
    font-family: Nevis, Arial, sans-serif;
    font-size: 4em;
    margin: 0;
}

p {
    font-family: Arial, sans-serif;
    font-size: $defaultFontSize;
    padding-bottom: 5px;
}

a:hover, a:focus, a:active{
    text-decoration: none;
}

a.btn-flat, a.btn {
    font-size: $defaultFontSize;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.container-fluid{
    padding: 0;
}

li{
    font-family: Arial, sans-serif;
    font-size: $defaultFontSize;
    padding-bottom: 2px;
}

header{
    background-color:#42A5F5;
    padding-top: 10px;
    padding-bottom: 50px;

    h1{
        color: #FFFFFF;
        font-family: Nevis, Arial, sans-serif;
        font-size: 5em;
        margin-bottom: 40px;
        text-align: center;
    }

    .btn{
        background-color: #66BB6A;
        color: $white;

        &:visited, &:focus{
            color: $white;
        }

        &:hover{
            background-color: #81C784;
            color: $black;
        }

    }

}


/* Blue 200 */
.card{
    background-color: #90CAF9;


    a {
        vertical-align: middle;
        margin: 0;
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
        -ms-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        color: #9a0000;

        &:visited, &:focus{
            color: #9a0000;
        }

        &:hover{
            color: #D50000;
            background-color: #64B5F6;
        }
    }

    .card-title {
        font-family: Roboto;
        font-size: 2em;
        font-weight: bold;
        text-transform: uppercase;
        color: #000000;
    }

    .card-subtitle {
        font-family: Roboto;
        color: #616161;
        font-size: 1.6em;
        margin: 0;
        padding-bottom: 5px;
    }
}

footer{
    background-color: #42A5F5;
    color: $white;
    text-align: center;
    a .footer-copyright{
        -webkit-transition: 0.15s ease-out;
        -moz-transition: 0.15s ease-out;
        -o-transition: 0.15s ease-out;
        -ms-transition: 0.15s ease-out;
        transition: 0.15s ease-out;
        .love{
            display:block;
        }
        .back-to-top{
            display:none;
        }
        &:hover{
            background-color: rgba(51,51,51,0.2);
            .love{
                display:none;
            }
            .back-to-top{
                display:block;
            }
        }
    }
    p {
        margin-bottom: 0;
        a{
            color: $white;
            &:hover{
                color: $grey200;
            }
        }
    }

}

section.container-fluid.projects{
    margin-top: 40px;
}

/* Grey - 200 */
.my-stuff{
    background-color: #EEEEEE;
    padding-top: 30px;
    padding-bottom: 30px;

    .card{
        background-color: #A5D6A7;
        a:hover{
            background-color: #81C784;
        }
        ul{
            margin: 0;
        }
    }
}

@font-face {
    font-family: Nevis;
    src: url("../font/nevis.ttf");
}




