$green200: #A5D6A7;
$green300: #81C784;
$green400: #66BB6A;
$grey200: #EEEEEE;
$blue200: #90CAF9;
$white: #FFFFFF;
$black: #000000;

$defaultFontSize: 1.25em;

@mixin padTB($top, $bottom){
    padding-top: $top;
    padding-bottom: $bottom;
}

h2 {
    @include padTB(20px, 20px);
    font-family: Nevis, Arial, sans-serif;
    font-size: 4em;
    margin: 0;
}

.container-fluid{
    padding: 0;
}

p {
    font-family: Arial, sans-serif;
    font-size: $defaultFontSize;
    padding-bottom: 5px;
}

a:hover, a:focus, a:active{
    text-decoration: none;
}

a.btn {
    font-size: $defaultFontSize;
    text-align: center;
}

li{
    font-family: Arial, sans-serif;
    font-size: $defaultFontSize;
    padding-bottom: 2px;
}

.card a{


}

header{
    background-color:#42A5F5;
    padding-top: 10px;
    padding-bottom: 50px;

    h1{
        color: #FFFFFF;
        font-family: Nevis, Arial, sans-serif;
        font-size: 5em;
        margin-bottom: 40px;
    }

    .btn{
        background-color: #66BB6A;
        color: $white;

        &:visited, &:focus{
            color: $white;
        }

        &:hover{
            background-color: #81C784;
            color: $black;
        }

    }
}


/* Blue 200 */
.card{
    background-color: #90CAF9;

    a {
        margin: 0;
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
        -ms-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        color: #9a0000;

        &:visited, &:focus{
            color: #9a0000;
        }

        &:hover{
            color: #D50000;
            background-color: #64B5F6;
        }
    }

    .card-title {
        font-family: Roboto;
        font-size: 2em;
        font-weight: bold;
        text-transform: uppercase;
        color: #000000;
    }

    .card-subtitle {
        font-family: Roboto;
        color: #616161;
        font-size: 1.6em;
        margin: 0;
        padding-bottom: 5px;
    }
}

footer{
    background-color: #42A5F5;

    p {
        margin-bottom: 0;
    }
}

/* Grey - 200 */
.my-stuff{
    background-color: #EEEEEE;
    padding-top: 30px;
    padding-bottom: 30px;

    .card{
        background-color: #A5D6A7;
        a:hover{
            background-color: #81C784;
        }
    }
}

@font-face {
    font-family: Nevis;
    src: url("../font/nevis.ttf");
}


