@mixin padTB($top, $bottom){
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin Arimo(){
    font-family: 'Arimo', Arial, sans-serif;
    font-weight: 400;
}

@mixin ArimoBold(){
    font-family: 'Arimo', Arial, sans-serif;
    font-weight: 700;
}

@mixin transition($property, $time, $easing){
    -webkit-transition: $property $time $easing;
    -moz-transition: $property $time $easing;
    -o-transition: $property $time $easing;
    -ms-transition: $property $time $easing;
    transition: $property $time $easing;
}

$grey50: #FAFAFA;
$grey100: #F5F5F5;
$grey200: #EEEEEE;
$grey700: #616161;
$blue50: #E3F2FD;
$blue200: #90CAF9;
$blue300: #64B5F6;
$blue400: #42A5F5;
$white: #FFFFFF;
$black: #000000;

$link: #9a0000;
$linkHover: #D50000;
$personalBackground: $blue50;
$personalCardBackground: $grey100;
$personalCardBackgroundHover: $grey200;
$projectBackground: $grey100;
$projectCardBackground: $blue200;
$projectCardBackgroundHover: $blue300;

$defaultFontSize: 1.3rem;



h2 {
    @include ArimoBold;
    margin: 0;
    padding-bottom: 30px;
    font-size: 4em;
}

p {
    @include Arimo;
    font-size: $defaultFontSize;
    padding-bottom: 5px;
}

a:hover, a:focus, a:active{
    text-decoration: none;
}

a.btn-flat, a.btn {
    font-size: $defaultFontSize;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.container-fluid{
    padding: 0;
}

li{
    @include Arimo;
    font-size: $defaultFontSize;
    padding-bottom: 2px;
}

header{
    text-align: center;
    background-image: url(../images/bulb.png);
    background-size: cover;
    padding-top: 8vh;
    padding-bottom: 8vh;
    height: 40vh;
    min-height: 315px;

    @media(max-width: 800px){
        height: 100vh;
    }
    h1{
        @include ArimoBold;
        text-transform: uppercase;
        color: $black;
        font-size: 5rem;
        margin-top: 0;
    }
    h2{
        @include Arimo;
        color: $black;
        font-size: 3rem;
    }

    .btn{
        @include Arimo;
        font-size: 1.25rem;
        background-color: $black;
        color: $white;

        &:visited, &:focus{
            color: $white;
        }

        &:hover{
            background-color: $white;
            color: $black;
        }
    }

}

.card{
    background-color: #90CAF9;
    margin-bottom: 20px;

    a {
        vertical-align: middle;
        margin: 0;
        @include transition(all, 0.15s, ease-out);
        color: $link;

        &:visited, &:focus{
            color: $link;
        }

        &:hover{
            color: $linkHover;
            background-color: $projectCardBackgroundHover;
        }
    }
    .card-header{
        background-color: $blue400;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 10px;
    }

    .card-title {
        @include ArimoBold;
        font-size: 2em;
        font-weight: bold;
        text-transform: uppercase;
        color: #000000;
    }

    .card-subtitle {
        @include Arimo;
        display: block;
        color: #424242;
        font-size: 1.6em;
        margin: 0;
    }
    .card-content{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .card-action{
        padding-top: 10px;
    }
}


section.my-stuff{
    background-color: $personalBackground;
    padding-top: 30px;
    padding-bottom: 30px;

    .card{
        background-color: $personalCardBackground;
        color: $black;
        @include Arimo;
        a{
            @include Arimo;
            &:hover{background-color: $personalCardBackgroundHover;}
        }

        ul{
            margin: 0;
        }
    }
}


section.container-fluid.projects{
    background-color: $projectBackground;
    .margin-40{
        margin-top: 40px;
    }
}

footer.page-footer{
    margin:0;
    padding-top: 20px;
    background-color: #42A5F5;
    color: $white;
    text-align: center;
    a .footer-copyright{
        @include transition(all, 0.15s, ease-out);
        .love{
            display:block;
        }
        .back-to-top{
            display:none;
        }
        &:hover{
            background-color: rgba(51,51,51,0.2);
            .love{
                display:none;
            }
            .back-to-top{
                display:block;
            }
        }
    }
    p {
        margin-bottom: 0;
        a{
            color: $white;
            &:hover{
                color: $grey200;
            }
        }
    }

}



