/* Blue - 400 - #42A5F5
Purple - A700 - #00BFA5
*/

h2{
    font-family: Raleway, Arial, sans-serif;
    font-size: 2.5em;
    margin: 0;
}

p {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    padding-bottom: 5px;
}

a.btn {
    font-size: 1.1em;
}

li{
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    padding-bottom: 2px;
}
.card a{
    color: #9a0000;
}

.card a:hover {
    color: #e51200;
}


.links h5{
    padding-left: 5px;
}
.links p {
    display: inline;
    padding-left: 5px;
} 

a:hover, a:focus, a:active{
    text-decoration: none;
}




.container-fluid{
    padding: 0;
}

header{
    background-color:#42A5F5;
    padding-top: 10px;
    padding-bottom: 50px;
}
header a{
    color: #FFFFFF;
}

header a:hover, .header a:focus, .header a:active{
    color: grey;
}

header h1{
    font-family: Raleway, Arial, sans-serif;
    font-size: 4.5em;
    margin-bottom: 40px;
}

/* Purple 400 */
header a.btn{
    background-color: #66BB6A;
}

/* Purple 300 */
header a.btn:hover{
    background-color: #81C784;
}

/* Blue 200 */
.card{
    background-color: #90CAF9;
}

.card a {
    margin: 0;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.card a:hover{
    background-color: #64B5F6;   
}
.card .card-title{
    font-size: 2em;
}

.card h4.card-subtitle {
    color: #fff;
    font-size: 1.6em;
    margin: 0;
}


footer{
    background-color: #42A5F5;
}

a.waves-effect .btn {
    text-align: center;
} 

/* Grey - 200 */
.my-stuff{
    background-color: #EEEEEE;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Purple - 200 */
.my-stuff .card{
    background-color: #A5D6A7;
}

/* Purple 300 */
.my-stuff .card a:hover{
    background-color: #81C784;
}

